<div class="menu">
  <ul>
    <li><a href="#/" ng-class="{selected: ('/' == $location.path())}">Main</a></li>
    <li><a href="#/audio" ng-class="{selected: ('/audio' == $location.path())}">Audio</a></li>
    <li><a href="#/config" ng-class="{selected: ('/config' == $location.path())}">Config</a></li>
    <li><a href="#/imaads" ng-class="{selected: ('/imaads' == $location.path())}">IMA Ads</a></li>
    <li><a href="#/dash" ng-class="{selected: ('/dash' == $location.path())}">Dash Streaming</a></li>
    <li><a href="#/dash-live" ng-class="{selected: ('/dash-live' == $location.path())}">Dash Live Streaming</a></li>
    <li><a href="#/templating" ng-class="{selected: ('/templating' == $location.path())}">Templating</a></li>
    <li><a href="#/cue-points" ng-class="{selected: ('/cue-points' == $location.path())}">Cue Points</a></li>
  </ul>
</div>
