<div class="menu">
    <ul>
        <li><a href="#/" ng-class="{selected: ('/' == $location.path())}">Main</a></li>
        <li><a href="#/audio" ng-class="{selected: ('/audio' == $location.path())}">Audio</a></li>
        <li><a href="#/config" ng-class="{selected: ('/config' == $location.path())}">Config</a></li>
        <li><a href="#/imaads" ng-class="{selected: ('/imaads' == $location.path())}">IMA Ads</a></li>
        <li><a href="#/dash" ng-class="{selected: ('/dash' == $location.path())}">Dash Streaming</a></li>
        <li><a href="#/dash-live" ng-class="{selected: ('/dash-live' == $location.path())}">Dash Live Streaming</a></li>
        <li><a href="#/templating" ng-class="{selected: ('/templating' == $location.path())}">Templating</a></li>
        <li><a href="#/cue-points" ng-class="{selected: ('/cue-points' == $location.path())}">Cue Points</a></li>
        <li><a href="#/crossorigin" ng-class="{selected: ('/crossorigin' == $location.path())}">Crossorigin</a></li>
        <li><a href="#/multi-players" ng-class="{selected: ('/multi-players' == $location.path())}">Multiple players</a>
        <li><a href="#/virtual-clips" ng-class="{selected: ('/virtual-clips' == $location.path())}">Virtual Clips</a>
        </li>
    </ul>
</div>
