@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('fonts/icomoon.woff') format('woff'),
	url('fonts/icomoon.ttf') format('truetype'),
	url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[videogular] {
	position: relative;
	background-color: #000000;
	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

[videogular] video {
	position: absolute;
    width: 100%;
    height: auto;
}

.iconButton {
	color: #FFFFFF;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/**********************/
/* OverlayPlay plugin */
/**********************/
[vg-overlayplay], vg-overlayplay {
	width: 100%;
	height: 100%;
	position: absolute;
}

.overlayPlayContainer {
	font-size: 100px;
	width: 100%;
	height: 100%;
	position: absolute;
	display: table;
	cursor: pointer;
}

.overlayPlayContainer div {
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

/********************/
/* Buffering plugin */
/********************/
[vg-buffering], vg-buffering {
	width: 100%;
	height: 100%;
	position: absolute;
}

.bufferingContainer {
	width: 100%;
	position: absolute;
	cursor: pointer;
	top: 50%;
	margin-top: -50px;
}

/* Loading Spinner
 * http://www.alessioatzeni.com/blog/css3-loading-animation-loop/
 */
.loadingSpinner {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(255,255,255,1);
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #FFFFFF;
	width:50px;
	height:50px;
	margin: 0 auto;
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin .5s infinite linear;
}

.stop {
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

/*********************/
/* Controlbar plugin */
/*********************/
[vg-controls], vg-controls {
	font-size: 24px;
	width: 100%;
	height: 50px;
	background-color: #000000;
	position: absolute;
	display: table;
}

[vg-playpausebutton], vg-playpausebutton {
	display: table-cell;
	width: 50px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

[vg-timedisplay], vg-timedisplay {
	color: #FFFFFF;
	display: table-cell;
	font-family: Arial;
	font-size: 18px;
	width: 125px;
	vertical-align: middle;
	text-align: center;
	cursor: default;
}

.vgTimeDisplay {
	display: table-cell;
	font-family: Arial;
	font-size: 18px;
	width: auto;
}

[vg-scrubbar], vg-scrubbar {
	width: auto;
	display: table-cell;
	cursor: pointer;
}

[vg-scrubBarCurrentTime], vg-scrubBarCurrentTime {
	background-color: #FFFFFF;
	width: 100%;
	height: 50px;
	display: block;
	cursor: pointer;
}

[vg-volume], vg-volume {
	display: table-cell;
	width: 50px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

[vg-volumebar], vg-volumebar {
	width: 50px;
	height: 100px;
	top: -100px;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	cursor: pointer;
}

[vg-fullscreenButton], vg-fullscreenButton {
	display: table-cell;
	width: 50px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.verticalVolumeBar {
	width: 50px;
	height: 100px;
	background-color: #000000;
	position: absolute;
}

.volumeBackground {
	width: 20px;
	height: 70px;
	left: 15px;
	top: 15px;
	background-color: #222222;
	position: absolute;
}

.volumeValue {
	width: 20px;
	height: 100%;
	background-color: #FFFFFF;
	position: absolute;
}

.volumeClickArea {
	width: 20px;
	height: 100%;
	position: absolute;
}

/*****************/
/* Poster plugin */
/*****************/
[vg-poster-image], vg-poster-image {
	width: 100%;
	height: 100%;
	position: absolute;
}

[vg-poster-image] img, vg-poster-image img, [vg-poster-image] img.none, vg-poster-image img.none {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
}

[vg-poster-image] img.fit, vg-poster-image img.fit {
	width: 100%;
}

[vg-poster-image] img.fill, vg-poster-image img.fill {
    /* left: is changed dynamically through javascript at poster.js */
    height: 100%;
}
