<!DOCTYPE html>
<html ng-app="videogularApp">
<head>
    <title>Videogular</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container" ng-controller="MainController">
        <div>
            <h1>Videogular player configurator</h1>
            <div videogular vg-width="data.width" vg-height="data.height" vg-theme="theme.url" vg-autoplay="data.autoPlay" vg-video-stretch="stretchMode.value">
                <video class='videoPlayer' preload='metadata'>
                    <source src="assets/videos/oceans-clip.mp4" type="video/mp4">
                    <source src="assets/videos/oceans-clip.webm" type="video/webm">
                    <source src="assets/videos/oceans-clip.ogv" type="video/ogg">
                </video>

                <div vg-poster-image vg-url='data.plugins.poster.url' vg-poster-stretch="stretchMode.value"></div>
                <div vg-buffering></div>
                <div vg-overlayPlay></div>

                <div vg-controls vg-autohide="data.autoHide" style="height: 50px;">
                    <div vg-playpauseButton></div>
                    <div vg-timeDisplay>{{ currentTime }}</div>
                    <div vg-scrubBar>
                        <div vg-scrubbarcurrenttime></div>
                    </div>
                    <div vg-timeDisplay>{{ totalTime }}</div>
                    <div vg-volume>
                        <div vg-mutebutton></div>
                        <div vg-volumebar></div>
                    </div>
                    <div vg-fullscreenButton></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12"><h2>Properties</h2></div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-4 col-lg-4">
                <div>
                    <label for="themeSelect">Theme:</label>
                    <select id="themeSelect" class="form-control" ng-model="theme" ng-options="theme.label for theme in data.themes"></select>
                </div>
                <div>
                    <label for="widthInput">Width:</label>
                    <input id="widthInput" type="text" class="form-control" ng-model="data.width">
                </div>
                <div>
                    <label for="heightInput">Height:</label>
                    <input id="heightInput" type="text" class="form-control" ng-model="data.height">
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-4">
                <div>
                    <label for="posterInput">Poster url image (png/jpg/gif):</label>
                    <input id="posterInput" type="text" class="form-control" ng-model="data.plugins.poster.url">
                </div>
                <div>
                    <label for="stretchSelect">Stretch Mode:</label>
                    <select id="stretchSelect" class="form-control" ng-model="stretchMode" ng-options="stretchItem.label for stretchItem in data.plugins.poster.stretchModes"></select>
                </div>
                <div>
                    <label class="checkbox">
                        <input id="autoHideInput" type="checkbox" ng-model="data.autoHide">Autohide
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/angular/angular.js" type="text/javascript"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
    <script src="lib/gsap/TweenMax.min.js"></script>

    <script src="../js/com/2fdevs/videogular/videogular.js" type="text/javascript"></script>
    <script src="../js/com/2fdevs/videogular/plugins/controlbar.js" type="text/javascript"></script>
    <script src="../js/com/2fdevs/videogular/plugins/overlayplay.js" type="text/javascript"></script>
    <script src="../js/com/2fdevs/videogular/plugins/buffering.js" type="text/javascript"></script>
    <script src="../js/com/2fdevs/videogular/plugins/poster.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>
</body>
</html>
