<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Video player</h2>
            <div class="videogular-container">
                <videogular vg-config="assets/data/config.json">
                    <vg-media vg-src vg-tracks vg-loop vg-preload vg-native-controls vg-template="scripts/com/2fdevs/videogular/directives/views/vg-media.html"></vg-media>

                    <vg-controls vg-template="scripts/com/2fdevs/videogular/plugins/vg-controls/views/vg-controls.html">
                        <vg-play-pause-button vg-template="scripts/com/2fdevs/videogular/plugins/vg-controls/vg-play-pause-button/views/vg-play-pause-button.html"></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                        <vg-scrub-bar vg-template="scripts/com/2fdevs/videogular/plugins/vg-controls/vg-scrub-bar/views/vg-scrub-bar.html">
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button vg-template="scripts/com/2fdevs/videogular/plugins/vg-controls/vg-volume/views/vg-mute-button.html"></vg-mute-button>
                            <vg-volume-bar vg-template="scripts/com/2fdevs/videogular/plugins/vg-controls/vg-volume/views/vg-volume-bar.html"></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button vg-template="scripts/com/2fdevs/videogular/plugins/vg-controls/vg-fullscreen-button/views/vg-fullscreen-button.html"></vg-fullscreen-button>
                    </vg-controls>

                    <vg-ima-ads></vg-ima-ads>
                    <vg-poster-image vg-url='config.plugins.poster.url' vg-template="scripts/com/2fdevs/videogular/plugins/vg-poster/views/vg-poster.html"></vg-poster-image>
                    <vg-buffering vg-template="scripts/com/2fdevs/videogular/plugins/vg-buffering/views/vg-buffering.html"></vg-buffering>
                    <vg-overlay-play vg-template="scripts/com/2fdevs/videogular/plugins/vg-overlay-play/views/vg-overlay-play.html"></vg-overlay-play>
                </videogular>
            </div>
        </div>
    </div>

	<div id="companionAd"></div>
</div>
