<div class="container">
	<div>
		<videogular
			vg-player-ready="onPlayerReady" vg-complete="onCompleteVideo" vg-update-time="onUpdateTime" vg-update-size="onUpdateSize" vg-update-volume="onUpdateVolume" vg-update-state="onUpdateState"
			vg-width="config.width" vg-height="config.height" vg-theme="config.theme.url" vg-autoplay="config.autoPlay" vg-stretch="config.stretch.value" vg-responsive="true">
			<video preload='metadata'>
				<source ng-repeat="source in config.sources" ng-src="{{source.src}}" type="{{source.type}}">

				<track kind="captions" src="assets/subs/pale-blue-dot.vtt" srclang="en" label="English" default></track>
			</video>

			<vg-ima-ads vg-network="config.plugins.ads.network" vg-unit-path="config.plugins.ads.unitPath" vg-companion="config.plugins.ads.companion" vg-companion-size="config.plugins.ads.companionSize" vg-ad-tag-url="config.plugins.ads.adTagUrl"></vg-ima-ads>
			<vg-poster-image vg-url='config.plugins.poster.url' vg-stretch="config.stretch.value"></vg-poster-image>
			<vg-buffering></vg-buffering>
			<vg-overlay-play vg-play-icon="config.theme.playIcon"></vg-overlay-play>

			<vg-controls vg-autohide="config.autoHide" vg-autohide-time="config.autoHideTime" style="height: 50px;">
				<vg-play-pause-button vg-play-icon="config.theme.playIcon" vg-pause-icon="config.theme.pauseIcon"></vg-play-pause-button>
				<vg-timeDisplay>{{ currentTime }}</vg-timeDisplay>
				<vg-scrubBar>
					<vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
				</vg-scrubBar>
				<vg-timeDisplay>{{ totalTime }}</vg-timeDisplay>
				<vg-volume>
					<vg-mutebutton
						vg-volume-level-3-icon="config.theme.volumeLevel3Icon"
						vg-volume-level-2-icon="config.theme.volumeLevel2Icon"
						vg-volume-level-1-icon="config.theme.volumeLevel1Icon"
						vg-volume-level-0-icon="config.theme.volumeLevel0Icon"
						vg-mute-icon="config.theme.muteIcon">
					</vg-mutebutton>
					<vg-volumebar></vg-volumebar>
				</vg-volume>
				<vg-fullscreenButton vg-enter-full-screen-icon="config.theme.enterFullScreenIcon" vg-exit-full-screen-icon="config.theme.exitFullScreenIcon"></vg-fullscreenButton>
			</vg-controls>
		</videogular>
	</div>

	<div id="companionAd"></div>

	<div class="row">
		<div class="col-12"><h2>Properties</h2></div>
	</div>

	<div class="row">
		<div class="col-6 col-sm-4 col-lg-4">
			<div>
				<label for="widthInput">Width:</label>
				<input id="widthInput" type="text" class="form-control" ng-model="config.width">
			</div>
			<div>
				<label for="heightInput">Height:</label>
				<input id="heightInput" type="text" class="form-control" ng-model="config.height">
			</div>
		</div>

		<div class="col-6 col-sm-4 col-lg-4">
			<div>
				<label for="posterInput">Poster url image (png/jpg/gif):</label>
				<input id="posterInput" type="text" class="form-control" ng-model="config.plugins.poster.url">
			</div>
			<div>
				<label for="stretchSelect">Stretch Mode:</label>
				<select id="stretchSelect" class="form-control" ng-model="config.stretch" ng-options="stretchItem.label for stretchItem in stretchModes"></select>
			</div>
		</div>

		<div class="col-6 col-sm-4 col-lg-4">
			<div>
				<label class="checkbox">
					<input id="responsiveInput" type="checkbox" ng-model="config.responsive">Responsive
				</label>
			</div>
			<div>
				<label class="checkbox">
					<input id="autoPlayInput" type="checkbox" ng-model="config.autoPlay">Autoplay
				</label>
			</div>
			<div>
				<label class="checkbox">
					<input id="autoHideInput" type="checkbox" ng-model="config.autoHide">Autohide
				</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-6 col-sm-4 col-lg-4">
			<div>Theme: {{config.theme.url}}</div>
			<div>Width: {{config.width}}</div>
			<div>Height: {{config.height}}</div>
			<div>Poster image: {{config.plugins.poster.url}}</div>
			<div>Stretch: {{config.stretch}}</div>
			<div>AutoPlay: {{config.autoPlay}}</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-4">
			<div>AutoHide: {{config.autoHide}}</div>
			<div>Responsive: {{config.responsive}}</div>
			<div>State: {{state}}</div>
			<div>Time: {{currentTime}} / {{totalTime || 0}}</div>
			<div>Volume: {{volume}}</div>
			<div>Completed: {{isCompleted}}</div>
		</div>
		<div class="col-6 col-sm-4 col-lg-4">
			<button ng-click="API.play()">Play</button>
			<button ng-click="API.pause()">Pause</button>
		</div>
	</div>
</div>
